title: Titan

description: >
  Titan is an open source project for developers to manage their data like code.
baseurl: ""
url: "https://titan-data.io"

sass:
  style: compressed

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - docs/version
